@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --color-primario: #FFFFFF;
    --color-secundario: #0466C8;
    --color-terciario: #D8DFE8;
    --color-hover: #12ccda;
    --color-hover-boton: #002855;
    --color-negro:black;
    --fuente-vvt: "VT323", monospace;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color:var(--color-negro);
    background-image: url('assets/fondo03.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.header__barra {
    display: flex;
    background-color:var(--color-negro);
    align-items: center;
    justify-content: center;
     
    opacity: 0.8;

}

.header__barra img {
    margin: 1%;
}

.header__barra h1 {
    font-family: var(--fuente-vvt);
    font-size: 2rem;
    font-weight: 600;
    font-size: normal;
    color:var(--color-primario);
    place-items: center;

}

.contenido {
    display: flex;
    justify-content: center;
   
    
}

.contenido__input {
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: transparent;
   
    /*height: 840px;*/
    height:auto;


}

.contenido__no_mensaje {
    color: var(--color-primario);
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 12px;
    font-family: var(--fuente-vvt);

}

.contenido__ayuda {
    font-size: 1rem;
   /*   color: #495057;*/
    color: var(--color-terciario);
    font-weight: bold;
    text-align: center;
    font-family: var(--fuente-vvt);
}

/*
*estilos para los botones
*/
.contenido__input__botones {
    display: flex;
    justify-content: space-between;
    width: 688px;
    align-items: center;
    margin: 2rem;


}

.contenido__boton__encriptar {
    background-color: var(--color-secundario);
    border-radius: 1.5rem;
    padding: 1rem;
    /*width: 328px;*/
    width: 50%;
    margin: 2%;
    color: var(--color-terciario);
    font-size: 2rem;
    border: 0;
    font-family: var(--fuente-vvt);
    font-weight: 800;

}

.contenido__boton__encriptar:hover {
    background-color: var(--color-hover-boton);
}

.contenido__boton__desencriptar {
    background-color: var(--color-secundario);
    border-radius: 1.5rem;
   /* width: 328px;*/
    width: 50%;
    padding: 1rem;
    font-size: 2rem;
    border: 0;
    font-family: var(--fuente-vvt);
    text-align: center;
    place-items: center;
    color: var(--color-terciario);
    font-weight: 800;
    margin: 2%;


}

.contenido__boton__desencriptar:hover {
    background-color: var(--color-hover-boton);
}

/*
*
*estilos del imput de texto para 
*/
#inputTexto {


    height: 100%;
    background-color: transparent;
    resize: none;
    color: var(--color-primario);
    border: none;
    font-size: 2rem;
    border-radius: 10px;
    /*width: 680px;*/
    width: auto;
    height: 100%;
    outline: none;
    margin: 4%;
    padding: 2%;
    overflow-y: auto;
    font-weight: 400;
    font-family: var(--fuente-vvt);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);

    /* Reflexión */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -o-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    /* Transparencia */
    opacity: 0.8;
}


#bonton__copiar {
    background-color: var(--color-secundario);
    border-radius: 1.5rem;
    /*width: 328px;*/
    width: 80%;
    padding: 1rem;
    border: 0;
    font-size: 2rem;
    margin: 2rem;
    font-family: var(--fuente-vvt);
    color: var(--color-primario);
    font-weight: 800;
}

#bonton__copiar:hover {
    background-color: var(--color-hover-boton);
}

#inputTexto::placeholder {
    color: #707e8f;
}

#contenido__input__recomendacion {
    margin-left: 4%;
    display: flex;
    font-size: 1rem;
    color: var(--color-primario);
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 800;
    font-family: var(--fuente-vvt);


}

.contenido__img_recomendacion {
    margin: 0 8px 0 0;

}

.contenido__encriptado {
    width: 400px;
    height: 820px;
    
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--color-primario) 0px 5px 15px;
    border-radius: 2rem;
    margin: 2%;
    /* Efecto de vidrio */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);

    /* Reflexión */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -o-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    /* Transparencia */
    opacity: 0.8;

}
#contenido__encriptado__parrafo {
    font-size: 1.5rem;
    outline: none;
    border: 0;
   /* width: 336px;*/
    width: 90%;
    /*height: 670px;*/
    height: 100%;
    margin: 2rem ;
    
    resize: none;
    color: var(--color-primario);
    background-color: transparent;
    font-family: var(--fuente-vvt);
    flex-grow: 1;

}

#contenido__encriptado_mensaje {
    gap: 0.5rem;
    width: 336px;

    margin: 5%;
}

#contenido__encriptado__imagen {
    border-radius: 2rem;
    margin-bottom: 30px;
}

/*
* estilos del footer
*/
.contenido__footer {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    background-color: transparent;
    gap: 1%;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);

    /* Reflexión */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -o-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    /* Transparencia */
    opacity: 0.8;
}

.contenido__footer h3 {
    font-family: var(--fuente-vvt);
    font-size: 1.5rem;
    color: var(--color-terciario);
    text-align: center;
    margin-top: 4%;
}

.contenido__footer__enlaces a {
    text-decoration: none;
    font-family: var(--fuente-vvt);
    color: var(--color-terciario);
    font-weight: 800;


}

.contenido__footer__enlaces a:hover {
    color: var(--color-hover);
}

.contenido__footer__enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.contenido__footer__enlaces h4 {
    font-size: larger;
    font-family: var(--fuente-vvt);
    color: var(--color-terciario);


}

.footer__icono {
    margin-right: 4%;
}

.footer__enlace {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 2%;

}

.fuente__codigo {
    display: flex;
    margin: 4%;
    width: 10%;
    flex-direction: column;
    justify-content: center;
}

.enlace__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4%;
    width: 10%;
}

@media(max-width:1200px) {
    .contenido {

        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;

    }

    #contenido__encriptado__imagen {
        display: none;
    }

    .contenido__encriptado {
        width: auto;
        height: auto;

    }

    .contenido__input {
        width: auto;
        height: 75%;
    }

    .contenido__input__botones {
        width: auto;
    }

    #contenido__encriptado__parrafo {
        width: 90%;
        /*height: 400px;*/
       height: 30vh;
    }


    #inputTexto {
        width: auto;
        height: 680px;
        margin: 1%;

    }

    #bonton__copiar {
        width: 90%;
    }

    .enlace__footer {
        width: 25%;
    }
}



@media(max-width:650px) {
    .contenido__input__botones {
        flex-direction: column;

    }

    .contenido__footer__enlaces {
        flex-direction: column;
    }

    .enlace__footer {
        width: 50%;
    }

    #inputTexto {

        height: 480px;

    }
    #contenido__encriptado__parrafo{
        /*height: 400px;*/
        height: 30vh;
    }

    #bonton__copiar {
        padding: 0.5rem;
        /*width: 328px;*/
        width: 85%;
    }

    .contenido__boton__encriptar {
        padding: 0.5rem;
        width: 100%;
    }

    .contenido__boton__desencriptar {
        padding: 0.5rem;
        width: 100%;
    }


}